        <title>Projects  Page</title>
    </head>
    <body>
        {{>header}}
        <p>Much PROJECTS here. Wow!</p>
        <p>Many ideas. Wow!</p>
        
        {{> footer}}
    </body>
</html>